<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toni.patakazi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".PataKaziApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainPanel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".PostJobActivity"
            android:parentActivityName=".MainPanel" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SetupActivity" />
        <activity
            android:name=".SingleJobActiivity"
            android:parentActivityName=".MainPanel" />
        <activity
            android:name=".BiddedJobActivity"
            android:parentActivityName=".MyPostedJobsActivity" />
        <activity
            android:name=".BidderProfileActivity"
            android:parentActivityName=".BiddedJobActivity" />
        <activity
            android:name=".PostAskillActivity"
            android:parentActivityName=".MainPanel" />
        <activity
            android:name=".JobsDue"
            android:parentActivityName=".MainPanel" />
        <activity
            android:name=".MyPostedJobsActivity"
            android:parentActivityName=".MainPanel" />
        <activity
            android:name=".CompletedWorkers"
            android:parentActivityName=".MyPostedJobsActivity" />
        <activity android:name=".SingleWorkerActivity"></activity>
    </application>

</manifest>